name: CI

on: push

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: npm ci
    - name: Run
      run: npm run lint
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: docker-compose -f docker-compose.yml -f docker-compose-ci.yml pull
    # - uses: satackey/action-docker-layer-caching@v0.0.11
    #   continue-on-error: true
    - run: docker-compose -f docker-compose.yml -f docker-compose-ci.yml build
    - run: docker-compose -f docker-compose.yml -f docker-compose-ci.yml up --abort-on-container-exit --exit-code-from ci
    - uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov
    - run: docker-compose -f docker-compose.yml -f docker-compose-ci.yml down -v
